<!DOCTYPE html>
<html lang="sk">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/art.css">
	<link rel="shortcut icon" href="./img/lc.png" type="image/x-icon">
  <title>Lekciónar</title>
</head>
<body>
  <div class="page" :style="{ backgroundColor: active, color: textColor}">
	<!-- HEAD -->	
   <transition name="head">
     <div class="head_tools" v-if="showHead" >
			 <span class="navIcon" @click="showNav = true">&#8801</span>
			 <span class="home" @click="home"> </span>
		  <div class="night" @click="toggle">
        <span class="sun" v-if="!moon" @click="active = 'rgba(255,255,255, .8)', textColor = 'black' "></span>
			  <span class="moon" v-else @click="active = 'rgba(0,0,0, .9)', textColor = 'white'"></span>
		  </div>	 
		</div>
	 </transition>
	 <!-- MENU -->
   <transition name="menu">
		 <div class="nav" v-if="showNav">		
			   <div class="menuBar" >
					 <div class="icon"></div>
					 <h3 class="appName">{{appName}}</h3>
					 <!-- CALENDAR -->
					 <div class="cal">
						 <div class="cal_head">
							 <p class="btn" @click="lastMonth">&#8249;</p>
							 <p class="currMonth">{{m[date.getMonth()]}} {{currYear}}</p>
							 <p class="btn" @click="nextMonth">&#8250;</p>
						 </div>
						 <div class="cal_bar" :style="{ backgroundColor: active, color: textColor}">
							 <span class="weekDays" v-for="dayWeek in d">{{dayWeek.slice(0,2).toUpperCase()}}</span>
						 </div>
						 <div class="cal_body" :style="{ backgroundColor: active, color: textColor}">
							<span class="blank" v-for="blank in prevMonth">{{blank}}</span>
							<span class="days" v-for="i in daysInMonth" :class="{currDay: i == currDay}" @click=setDate(i)>{{i}}</span>
							<span class="blank" v-for="_,i in nextMonthDays" >{{i+1}}</span>
						 </div>
					 </div>
				 </div>
				 <div class="mask" @click="showNav = false"></div>
		 </div>
	 </transition>
	 <div class="body" @dblclick="dbClick" >
		 <div class="body_head" :style="{ paddingTop: pTop}">{{page.titul}}
			 <span class="name">meniny: {{page.name}}</span>
		 </div>
		 <div class="body_index" v-html="page.index" :style="{ borderLeftColor: bgColor}"></div>
		 <div class="body_lesson" v-html="page.lesson"></div>
	 </div>
	</div>
	<script src="./js/vue.min.js"></script>
	<script src="./js/lc2021.js"></script>
	<script src="./js/art.js"></script>
</body>
</html>