<!DOCTYPE html>
<html lang="sk">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/art.css">
	<link rel="shortcut icon" href="./img/lc.png" type="image/x-icon">
  <title>Lekciónar</title>
</head>
<body>
  <div class="page" :style="{ backgroundColor: active, color: textColor}">
	<!-- LOADER -->
		<div class="load" v-if="load">
		<div class="book">
			<div class="item">
				<hr v-for="item in 6">
			</div>
			<div class="items" v-for="items in 3">
				<hr v-for="hr in 3">
			</div>
		</div>
	</div>
	<!-- INFO -->
	<div class="info_box" v-if="info" @click="info=false" :style="{ backgroundColor: active, color: textColor}">
		<div class="info_body">
			<h1>Aplikácia {{appName}}</h1>
			<p>Aplikácia je realizovaná v spolupráci s pánom Ing. Matúšom Brillom, 
					ktorý je zodpovedný za web stránku www.lc.kbs.sk.
					Udaje v tejto aplikácii sú zo stranky www.lc.kbs.sk. 
					Aplikácia obsahuje biblické čítania a liturgický kalendár liturgických čítaní. 
					Aktuálna verzia obsahuje liturgické čítania pre celý liturgický rok {{currYear-1}}/{{currYear}}. 
					<span class="red">Aplikácia nie je náhradou liturgických kníh!</span> 
					Ďakujeme za pochopenie.</p>
			<div class="kbs">
				© Ing. Matúš Brilla, 1997 – {{currYear}}
			</div>		
		</div>
	</div>	
	<!-- HEAD -->	
   <transition name="head">
     <div class="head_tools" v-if="showHead" >
			 <span class="navIcon" @click="showNav = true">&#8801</span>
			 <span class="lupap" @click="fontPlus"> +
				<hr>
			</span>
			 <span class="lupa" @click="fontNormal">
				<hr>
			</span>
			 <span class="lupam" @click="fontMinus"> -
				 <hr>
			 </span>
			 <span class="home" @click="home"> </span>
		  <div class="night" @click="toggle">
        <span class="sun" v-if="moon" @click="active = 'rgba(255,255,255, .8)', textColor = 'black' "></span>
			  <span class="mon" v-else @click="active = 'rgba(0,0,0, .9)', textColor = 'white'"></span>
			</div>
			<span class="info" @click="info=true">&#8505;</span>	 
		</div>
	 </transition>
	 <!-- MENU -->
   <transition name="menu">
		 <div class="nav" v-if="showNav">		
			   <div class="menuBar" >
					 <div class="icon"></div>
					 <h3 class="appName">{{appName}}</h3>
					 <!-- CALENDAR -->
					 <div class="cal">
						 <div class="cal_head">
							 <p class="btn" @click="lastMonth">&#8249;</p>
							 <p class="currMonth">{{m[date.getMonth()]}} {{currYear}}</p>
							 <p class="btn" @click="nextMonth">&#8250;</p>
						 </div>
						 <div class="cal_bar" :style="{ backgroundColor: active, color: textColor}">
							 <span class="weekDays" v-for="dayWeek in d">{{dayWeek.slice(0,2).toUpperCase()}}</span>
						 </div>
						 <div class="cal_body" :style="{ backgroundColor: active, color: textColor}">
							<span class="blank" v-for="blank in prevMonth">{{blank}}</span>
							<span class="days" v-for="i in daysInMonth" :class="{currDay: i == currDay}" @click=setDate(i)>{{i}}</span>
							<span class="blank" v-for="_,i in nextMonthDays" >{{i+1}}</span>
						 </div>
					 </div>
				 </div>
				 <div class="mask" @click="showNav = false"></div>
		 </div>
	 </transition>
	 <div class="body" :style="{fontSize: fontSize + 'em'}">
		   	<!-- DAYS-->
	     <div class="body_head" :style="{ paddingTop: pTop}">
				<div class="prevDay"  @click="lDay">&#8249;</div>
	      <div class="nextDay"  @click="nDay">&#8250;</div> 
				{{page.titul}}
			 <span class="name">meniny: {{page.name}}</span>
		 </div>
		 <div class="body_index" @dblclick="dbClick" v-html="page.index" :style="{ borderLeftColor: bgColor}"></div>
		 <div class="body_lesson" @dblclick="dbClick" v-html="page.lesson"></div>
	 </div>
	</div>
	<script src="./js/vue.min.js"></script>
	<script src="./js/lc2021.js"></script>
	<script src="./js/art.js"></script>
</body>
</html>