@font-face {
  font-family: 'school';
  src: url('School.ttf') format('truetype');
}
@font-face {
  font-family: 'text';
  src: url('text.ttf') format('truetype');
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("../img/bg1.png");
  background-size: 10%;
  background-attachment: fixed;
  font-family: 'school';
}

.title{
  position: fixed;
  width: 100%;
  text-align: center;
  background-image: url("../img/bg1.png");
  top: 0;
  font-size: 5vw;
  font-weight: normal;
  background-size: 10%;
  color: white;
  z-index: 1;
}
.cont{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5vw 0;
}
.card{
  position: relative;
  font-family: text;
  width: 300px;
  height: 250px;
  border-radius: .8em;
  margin-top: 5vh;
  perspective: 120vw;
}
.card:hover .front{
  transform: rotateY(180deg);
}
.card:hover .back{
  transform: rotateY(360deg);
}
.front, .back{
  position: absolute;
  border-radius: 1em;
  background-color: #fafccb;
  width: 100%;
  height: 100%;
  transition: 1s;
  backface-visibility: hidden;
}
.front>img, .back>img{
  position: absolute;
  left: 3%;
  top: 6%;
  width: 30%;
}
.front{
  box-shadow: inset 0 0 1vw .2vw rgba(232,95,21,1);
}
.verb{
  position: absolute;
  font-family: text;
  top: 6%;
  left: 35%;
  color: red;
  font-size: 1em;
}
.verb>p>span{
  font-family: monospace;
  color: gray;
  font-size: 1em;
}
.sent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  bottom: 9%;
  left: 4%;
  padding-left: 2%;
  font-size: .8em;
  width: 85%;
  height: 40%;
  background-color: white;
  border: 2px solid orange;
}
.back{
  transform: rotateY(180deg);
  box-shadow: inset 0 0 1vw .2vw rgba(78,103,204,1);
}
.back>p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 60%;
  height: 40%;
  top: 6%;
  left: 35%;
  font-size: 1.7em;
}

.index{
  position: absolute;
  font-weight: normal;
  font-size: .8em;
  bottom: .4vw;
  right: .7vw;
}
