* {
  padding: 0;
  margin: 0;
}

body {
  perspective: 100%;
  background: url(img/smn.svg);
  background-size: 50%;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 2%;
}

input {
  display: none;
}

.menu>a {
  text-align: center;
  margin: 5%;
  padding: 8% 4%;
  width: 100%;
  color: #aaaaaa;
  border: .3em solid;
  border-radius: 50%;
}

.menu>a:hover,
#login>a:hover,
#book>a:hover {
  color: #663300;
  background: white;
}

.menu {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 2%;
  left: 2%;
  z-index: 3;
}

#login,
#user,
#book,
#info {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  pointer-events: none;
  z-index: 4;
}

#login:target,
#user:target,
#book:target,
#info:target {
  display: block;
  pointer-events: auto;
}

.login_menu,
.user_menu,
.info_tab {
  top: 25%;
  left: 25%;
  position: fixed;
  width: 50%;
  height: 50%;
  background: white;
}

.book_tab {
  position: fixed;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 90%;
  background: url(img/lib.svg);
  border-radius: 1%;
}

.rack {
  position: relative;
  top: 10%;
  left: 5%;
  width: 88%;
  height: 80%;
  border: 1em solid #fd9;
  box-shadow: 0 -1em 1em 0;
}

.row1,
.row2,
.row3 {
  width: 100%;
  height: 31.5%;
  box-shadow: inset 0 0 5em 0;
  background: #fd9;
  border-bottom: 1em solid #fd9;
}

.row1>p {
  display: flex;
  position: absolute;
  width: 100%;
  height: 31%;
  justify-content: center;
  align-items: center;
  font: 5em sans-serif;
  color: whitesmoke;
  text-shadow: 0.07em -0.05em 0 rgba(0, 0, 0, 0.1);
}

.row1>a {
  position: absolute;
  opacity: .8;
  top: 3%;
  border-radius: 1%;
  box-shadow: 0 0 2em 0 black;
  width: 10%;
  height: 25%;
  background-size: cover;
}

.row1>a:hover {
  transform: scale(1.1);
  opacity: 1;
}

.new1 {
  left: 4%;
  background: url(img/kompas.jpg) center;
}

.new2 {
  left: 20%;
  background: url(img/vzoprite-sa-diablovi.jpg) center;
}

.new3 {
  right: 20%;
  background: url(img/cim-ma-zaujal-jezis.jpg) center;
}

.new4 {
  right: 4%;
  background: url(img/svata-spoved-jezis-mi-hovori-o-spovedi.jpg) center;
}

#login>a,
#user>a,
#book>a,
#info>a {
  color: #aaaaaa;
  padding: .2% .4%;
  border-radius: 50%;
  position: fixed;
  top: 1%;
  right: 1%;
}

.pagestart,
.pageend {
  position: fixed;
  top: 1%;
  left: 32.5%;
  width: 35%;
  height: 97%;
  border: 0.3em solid #cccccc;
  border-radius: 2%;
  box-shadow: 0 0 10em #cccccc;
  background-size: 100% 100%;
  opacity: 0;
}

.page2,
.page3 {
  perspective: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 70%;
  height: 97%;
  top: 1%;
  left: 15%;
  border: 0.3em solid #cccccc;
  border-radius: 2%;
  box-shadow: 0 0 10em #cccccc;
  opacity: 0;
}

.pg1,
.pg2 {
  flex: 1;
  border-radius: 1%;
}

.left {
  position: fixed;
  top: 45%;
  left: 7%;
  z-index: 1;
}

.right {
  position: fixed;
  top: 45%;
  right: 7%;
}

label {
  position: fixed;
  display: none;
  color: #cccccc;
}

label:hover {
  color: #630;
}

#bt:checked~.left>.bt1,
#bt1:checked~.left>.bt2,
#bt1:checked~.right>.bt6,
#bt2:checked~.left>.bt3,
#bt2:checked~.right>.bt5,
#bt3:checked~.right>.bt4,
#bt4:checked~.right>.bt5,
#bt4:checked~.left>.bt3,
#bt5:checked~.right>.bt6,
#bt5:checked~.left>.bt2,
#bt6:checked~.left>.bt1 {
  display: block;
  z-index: 2;
}

#bt:checked~.pagestart {
  opacity: 1;
}

#bt1:checked~.page2,
#bt2:checked~.page3,
#bt3:checked~.pageend,
#bt4:checked~.page3,
#bt5:checked~.page2,
#bt6:checked~.pagestart {
  animation: opacity 4s ease forwards;
}

#bt1:checked~.pagestart {
  animation: start 3s ease-in forwards;
}

#bt2:checked~.page2 {
  opacity: 1;
}

#bt2:checked~.page2>.pg2,
#bt3:checked~.page3>.pg2 {
  transform: rotateY(180deg);
  transform-origin: left;
  transition: transform 3s;
}

#bt3:checked~.page3 {
  animation: spacity 3s ease forwards;
}

#bt4:checked~.pageend {
  animation: end 3s ease-in forwards;
}

#bt5:checked~.page3 {
  animation: spacity 3s ease forwards;
}

#bt5:checked~.page3>.pg1,
#bt6:checked~.page2>.pg1 {
  opacity: 0;
  transform: rotateY(180deg);
  transform-origin: right;
  transition: opacity 3s, transform 3s;
}

#bt6:checked~.page2 {
  animation: repacity 3s ease-in forwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes start {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotateY(180deg) translateX(-50%);
    transform-origin: left;
  }
}

@keyframes end {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotateY(180deg) translateX(50%);
    transform-origin: right;
  }
}

@keyframes repacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-25%);
  }
}

@keyframes spacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
