<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="css/art.css">
    <title>CRE</title>
</head>
<body>
    <div class="page">
        <menu @click="showMenu = !showMenu">
					<span class="fas fa-bars" v-if="showMenu"></span>
					<span class="fas fa-times" v-else="!showMenu"></span>
				</menu>
				<transition name="nav">
				  <nav v-if="!showMenu">
					  <div v-for="(link, i) in links" @click="newLink(event, i)">{{i}}</div>
					</nav>
				</transition>	    
        <iframe :src="url"></iframe>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/cre.js"></script>
</body>
</html>