<!DOCTYPE html>
<html lang="ua">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/art.css">
  <title>War</title>
</head>
<body>
  <div class="box">
    <div class="btn" @click=toogle() :style="{backgroundImage: show ? ' url(img/eng.png)' : ' url(img/ukr.png)'}"></div>
    <div class="titel">{{titul}}</div>
    <div class="sold">
      <div class="wrap" v-for="hero in war">
        <div class="hero" :style="{backgroundImage: ' url(' + hero.img + ')'}"></div>
        <div class="name" v-if="show">{{hero.name}}</div>
        <div class="name" v-else>{{hero.eng}}</div>
        <div class="birthday">{{hero.birth}}</div>
        <div class="death"> {{hero.death}}</div>
        <p class="yt">
        <a :href="hero.youtube" target="_blank"></a>
        </p>
      </div>
    </div> 
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="js/art.js"></script>
</body>
</html>