<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/icon.svg" type="image/x-icon">
  <link rel="stylesheet" href="css/art.css">
  <title>Catalog</title>
</head>
<body>
  <div class="lib">
    <h1> {{name}} </h1>
    <input type="text" class="foc" :placeholder='[[place]]' v-model="search">
    <div class="box">
      <div class="comment" v-if="searchShow">
        <div>Номер</div>
        <div>Назва</div>
        <div>Автор</div>
        <div>Код</div>
      </div>
      <hr>
      <div class="books" v-for="(book, i) in searchFilter">
        <div>{{i+1}} </div>
        <div>{{book.titul}}</div>
        <div>{{book.name}}</div>
        <div>{{book.code}}</div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="js/art.js"></script>
</body>
</html>