*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a
{  font-size: 1.8em;
   margin: 1vh;
   color:white;}
.cont{
  width: 98.5vw;
  margin: 0 auto;
}
.nav{
  text-align: center;
  display: flex;
  right: 1vh;
  flex-direction: column;
  position: fixed;
  color: white;
  z-index: 1;
}
.active{
  color: #09f;
}
h1{
  position: fixed;
  color: white;
  padding-top: 8%;
  padding-left: 10%;
  font-size: 3em;
  font-family: fantasy;
}
.page{
  height: 105vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#start{
  background-image: url("../img/klastor.jpg");
}
#history{
    background-image: url("../img/historybg.jpg");
    position: relative;
}

.age{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-55%) translateX(-50%);
  width: 80vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.anim{
  animation: age 3s ease-out forwards;
}
img{
  position: absolute;
  top:10vh;
  left:10vh;
  width: 15vw;
  height: 15vw;
}
.title{
  text-align: center;
  position: absolute;
  top:10vh;
  left: 50vh;
  font-size: 3em;
  color: white;
}

.timeline{
  position: relative;
  font-weight: bold;
  color: white;
  transform: translate(5vw);
  width: 90vw;
  top: 93vh;
  height: 3px;
  background-color: #09f;
}
.timeline::before{
  position: absolute;
  content: "1500";
  top: 1vh;
  font-size: 1.5em;
}
.timeline::after{
  right: 0;
  position: absolute;
  content: "2000";
  top: 1vh;
  font-size: 1.5em;
}
.bt{
  position: absolute;
  width: 1.5vh;
  height: 1.5vh;
  border: 2px solid #09f;
  background-color: white;
  border-radius: 50%;
  top: -.6vh;
  cursor: pointer;
}
.bt::after{
  display: none;
  position: absolute;
  top:-3vh;
  left: -1.5vh;
  font-size: 1.5em;
}
.check{
  background-color: #09f;
  border: 2px solid white;
}
.left{
  animation: left 2s ease-out forwards;
}
.b0{
  left:16.6%;
}
.b0:hover:after{
  display: block;
}
.b0:after{
  content: "1583";
}
.b1{
  left: 28.4%;
}
.b1:hover:after{
  display: block;
}
.b1:after{
  content: "1642";
}
.b2{
  left: 29%;
}
.b2:hover:after{
  display: block;
}
.b2:after{
  content: "1642";
}
.b3{
  left: 30%;
}
.b3:hover:after{
  display: block;
}
.b3:after{
  content: "1643";
}
.b4{
  left:32.4%;
}
.b4:hover:after{
  display: block;
}
.b4:after{
  content: "1648";
}
.b5{
  left:34.1%;
}
.b5:hover:after{
  display: block;
}
.b5:after{
  content: "1671";
}
.b6{
 left:52.4%;
}
.b6:hover:after{
  display: block;
}
.b6:after{
  content: "1762";
}
.b7{
left:83.6%;
}
.b7:hover:after{
  display: block;
}
.b7:after{
  content: "1919";
}
.b8{
   left:84.4%;
}
.b8:hover:after{
  display: block;
}
.b8:after{
  content: "1922";
}
.b9{
left:85.4%;
}
.b9:hover:after{
  display: block;
}
.b9:after{
  content: "1927";
}
.b10{
 left:88%;
}
.b10:hover:after{
  display: block;
}
.b10:after{
  content: "1940";
}
.b11{
  left:90%;
}
.b11:hover:after{
  display: block;
}
.b11:after{
  content: "1950";
}
.b12{
  left:90.5%;
}
.b12:hover:after{
  display: block;
}
.b12:after{
  content: "1951";
}
.b13{
  left:91%;
}
.b13:hover:after{
  display: block;
}
.b13:after{
  content: "1956";
}
.b14{
  left:92.4%;
}
.b14:hover:after{
  display: block;
}
.b14:after{
  content: "1961";
}
.b15{
  left:97.8%;
}
.b15:hover:after{
  display: block;
}
.b15:after{
  content: "1990";
}
.b16{
  left: 98.6%;
}
.b16:hover:after{
  display: block;
}
.b16:after{
  content: "1993";
}
#gallery{
  background-image: url("../img/let.jpeg");
}
#plan{
  background-color: brown;
}
#contact{
  background-color: #c6c6c6
}

@keyframes age {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes left {
  0%{left:50%; opacity: 1}
  100%{left: -100%;}
}
