*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0px solid white;
}
a{
   font-size: 3vh;
   padding: 1vh;
   margin-bottom: 5vh;
   color: white;
   border: 1px solid white;
   border-radius: 50%;
   box-shadow: 1px 1px 5px black;
 }
 a:before, .mouse, .mouse:before{
   box-shadow: 1px 1px 5px black;
 }
.cont{
  width: 100%;
}
.logo{
  text-align: center;
  position: absolute;
  padding: 1vh 2vh ;
  top: 1vh;
  right: 1vh;
}
.logo:hover{
  color: #09f;
  border: 1px solid #09f;
}
.logo::before{
  display: none;
  content: "redemptoristi.sk";
  position: absolute;
  border-radius: 1vh;
  top: .5vh;
  right: 7.1vh;
  padding: 1vh;
  background-color: #09f;
  width: 12vw;
  height: 3vh;
}
.logo:hover::before,.logo:hover::after{
  display: block;
  color: white;
}
.logo::after{
  content:"";
  display: none;
  position: absolute;
  border-left: 1vh solid #09f;
  border-top: 1vh solid transparent ;
  border-bottom: 1vh solid transparent;
  right: 6.2vh;
  top: 2vh;
}
.mouse{
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  width: 2vh;
  height: 3vh;
  border: 2px solid white;
  border-radius: 1vh;
  z-index: 1;
}
.mouse::before{
  content: "";
  top: .3vh;
  left: 50%;
  transform: translateX(-55%);
  position: absolute;
  border-radius: 1vh;
  width: .4vh;
  height: .4vw;
  background-color: white;
  animation: scroll 2s ease-in infinite;
}
.nav{
  text-align: center;
  display: flex;
  top: 50vh;
  right: 1vh;
  flex-direction: column;
  transform: translateY(-50%);
  position: fixed;
  color: white;
  z-index: 2;
}
.nav>a:hover{
  color: #09f;
  border: 1px solid #09f;
}
.nav>a:hover::before{
  position: absolute;
  content: attr(data);
  right: 6.5vh;
  width: 12vw;
  height: 4vh;
  background-color: #09f;
  color: white;
  border-radius: 1vh;
}
.nav>a:hover::after{
  content: "";
  position: fixed;
  border-left: 1vh solid #09f;
  border-top: 1vh solid transparent ;
  border-bottom: 1vh solid transparent;
  right: 5.5vh;
  margin-top: 1vh;
}
.active{
  color: #09f;
  border: 1px solid #09f;
}
h1{
  position: fixed;
  color: white;
  padding-top: 8%;
  padding-left: 10%;
  font-size: 5vh;
}
h2, h1, p, tr, .post, .title, .title2, .timeline, .logo, .nav>a{
  text-shadow: 1px 2px black;
}
.page{
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#start{
  background-image: url("../img/klastor.jpg");
}
#history{
    background-image: url("../img/historybg.jpg");
    position: relative;
}

.age{
  opacity: 0;
  position: absolute;
  border-radius: .5em;
  border: 1px solid black;
  box-shadow: 0 0 1em black;
  top: 50%;
  left: 50%;
  transform: translateY(-55%) translateX(-50%);
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.4);
}

.time{
  position: absolute;
  border-radius: 1em;
  box-shadow: 0 0 1em black;
  top:10vh;
  left:10vh;
  width: 15vw;
  height: 15vw;
}
.title, .title2{
  text-align: center;
  position: absolute;
  top:10vh;
  left: 50vh;
  font-size: 4vh;
  color: white;
}
.title2{
  text-align: right;
  top: 75vh;
  right: 1%;
}

.timeline{
  position: relative;
  font-weight: bold;
  color: white;
  transform: translate(5vw);
  width: 90vw;
  top: 93vh;
  height: 3px;
  background-color: #09f;
}
.timeline::before{
  position: absolute;
  content: "1500";
  top: 1vh;
  font-size: 2.5vh;
}
.timeline::after{
  right: 0;
  position: absolute;
  content: "2000";
  top: 1vh;
  font-size: 2.5vh;
}
.bt{
  position: absolute;
  width: 1.5vh;
  height: 1.5vh;
  border: 2px solid #09f;
  background-color: white;
  border-radius: 50%;
  top: -.6vh;
  cursor: pointer;
}
.bt::after{
  display: none;
  position: absolute;
  top:-3vh;
  left: -1.5vh;
  font-size: 2.5vh;
}
.b0{
  left:16.6%;
}
.b0:hover:after{
  display: block;
}
.b0:after{
  content: "1583";
}
.b1{
  left: 28.4%;
}
.b1:hover:after{
  display: block;
}
.b1:after{
  content: "1642";
}
.b2{
  left: 29%;
}
.b2:hover:after{
  display: block;
}
.b2:after{
  content: "1642";
}
.b3{
  left: 30%;
}
.b3:hover:after{
  display: block;
}
.b3:after{
  content: "1643";
}
.b4{
  left:32.4%;
}
.b4:hover:after{
  display: block;
}
.b4:after{
  content: "1648";
}
.b5{
  left:34.1%;
}
.b5:hover:after{
  display: block;
}
.b5:after{
  content: "1671";
}
.b6{
 left:52.4%;
}
.b6:hover:after{
  display: block;
}
.b6:after{
  content: "1762";
}
.b7{
left:83.6%;
}
.b7:hover:after{
  display: block;
}
.b7:after{
  content: "1919";
}
.b8{
   left:84.4%;
}
.b8:hover:after{
  display: block;
}
.b8:after{
  content: "1922";
}
.b9{
left:85.4%;
}
.b9:hover:after{
  display: block;
}
.b9:after{
  content: "1927";
}
.b10{
 left:88%;
}
.b10:hover:after{
  display: block;
}
.b10:after{
  content: "1940";
}
.b11{
  left:90%;
}
.b11:hover:after{
  display: block;
}
.b11:after{
  content: "1950";
}
.b12{
  left:90.5%;
}
.b12:hover:after{
  display: block;
}
.b12:after{
  content: "1951";
}
.b13{
  left:91%;
}
.b13:hover:after{
  display: block;
}
.b13:after{
  content: "1956";
}
.b14{
  left:92.4%;
}
.b14:hover:after{
  display: block;
}
.b14:after{
  content: "1961";
}
.b15{
  left:97.8%;
}
.b15:hover:after{
  display: block;
}
.b15:after{
  content: "1990";
}
.b16{
  left: 98.6%;
}
.b16:hover:after{
  display: block;
}
.b16:after{
  content: "1993";
}
.b17{
  right: -.3%;
}
.b17:hover:after{
  display: block;
}
.b17:after{
  content: "1996";
}
#gallery{
  background-image: url("../img/let.jpeg");
  position: relative;
}
.image{
  border: 1px solid black;
  opacity: 0;
  width: 80%;
  height: 80%;
  position: absolute;
  box-shadow: 0 0 1em black;
  border-radius: 1em;
  top:50%;
  left: 50%;
  transform: translate(-50%,-55%);
}
.image>img{
  width: 100%;
  height: 100%;
  border-radius: 1em;

}
.photo{
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  display: flex;
}
.pt{
  width: 2vh;
  height: 2vh;
  border: 2px solid #09f;
  background-color: white;
  color: #09f;
  margin-left: 1vw;
  font-size: 1.5vh;
  padding-top: .2vh;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

#plan{
  background-image: url("../img/crux.jpg");
  position: absolute;
  width: 100%;
  z-index: 1;
}
.rota{
  padding-top: .5em;
  box-shadow: 0em 0em 1em black;
  border: 1px solid black;
  text-align: center;
  position: relative;
  top: 7vh;
  left: 5vw;
  width: 50vw;
  height: 79vh;
  font-size: 3vh;
  color: white;
  border-radius: .5em;
  background-color: rgba(0, 0, 0, 0.2);
}
table{
  left: 5vw;
  position: relative;
  width: 40vw;
}
td{
  width: 33.3vw;
  border-radius: .5em;
  border: 1px solid white;
}
.post{
  font-size: .8em;
  padding-top: 1vh;
  display: flex;
  justify-content: space-around;
}
.check{
  background-color: #09f;
  border: 2px solid white;
  color: white;
}
.anim{
  animation: age 3s ease-out forwards;
}
.scale{
  animation: scale 2s ease-out forwards;
}
.left{
  animation: left 2s ease-out forwards;
}

@keyframes scroll {
  0%{opacity: 1;}
  100%{opacity: 0;
  transform: translate(-55%,1vh);}
}


@keyframes age {
  0%{opacity: 0;
     width: 50%;
     height: 50%;}
  100%{opacity: 1}
}
@keyframes left {
  0%{left:50%; opacity: 1}
  100%{left: -100%;}
}
@keyframes scale {
  0%{opacity: 1}
  100%{width: 50%;
       height: 50%;
  }
}
@media screen and (max-width: 800px){
  body{
    width: 100vh;
    height: 100vh;
    transform: rotate(-90deg);
    transition: transform 1s ease;
  }
}
