*{
  margin: 0;
  padding: 0;
}
.page{
  width: 100%;
  min-height: 100vh;
  user-select: none; 
}
.head_tools{
  position: fixed;
  width: 100%;
  height: 46px;
  background-color: #741d1d;
  display: flex;
  align-items: center;
}
.navIcon{
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}
.home,.night{
  color: white;
  font-size: 1.5em;
  line-height: 43px;
  cursor: pointer;
}
.home{
  position: absolute;
  top: 22%;
  right: 45px;
  width: 24px;
  height: 24px;
  background-image: url("../img/house.png");
  background-size: cover;
}
.night{
  position: absolute;
  top: 22%;
  right: 10px;
  width: 24px;
  height: 24px;
}
.moon, .sun{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.moon{
  background-image: url("../img/moon.png");
}
.sun{
  background-image: url("../img/sun.png");
}
.nav{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
 }
.menuBar{
  width: 300px;
  height: 100vh;
  background-color: #404040;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appName{
  position: absolute;
  color: aliceblue;
  text-align: center;
  top: 15px;
 }
.icon{
  position: absolute;
  left: 10px;
  top: 10px;
  width: 36px;
  height: 36px;
  background-image: url("../img/lc.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.cal{
  width: 280px;
    
}
.cal_head{
  background-color: #2196F3;
  color: white;
  height: 35px;
  font-size: 1.5em;
  display: flex;
}
.btn{
  width: 35px;
  text-align: center;
  line-height: 30px;
  cursor: pointer; 
}
.btn:hover{
  background-color: rgba(0, 0, 0, .5);
}
.currMonth{
  width: 80%;
  font-weight: bold;
  text-align: center;
  line-height: 34px;
}
.cal_bar{
  height: 35px;
  background-color: white;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 8px;
}
.cal_bar>span{
  margin: 0 7px;
}
.cal_body{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  padding-bottom: 10px;
}
.cal_body>span{
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  font-size: 1.1em;
}
.days{
  cursor: pointer;
  font-weight: bold;
}
.currDay{
  border: 2px solid red;
  border-radius: 10px;
}
.blank{
  cursor: context-menu;
  color: #606060;
}
.mask{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: -1;
}
.body{
  margin: 0 auto;
  width: 90%;
  min-height: 99vh;
}
.body_head{
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}
.body_index{
  margin: 1%;
  border-left: white 5px solid;
  padding-left: 10px;
  width: 80%;
}
.body_index>p, .body_lesson>p{
  font-size: 1.2em;
  margin-bottom: 5px;
}
.body_lesson{
  margin-left: 30px;
  padding-bottom: 30px;
}
.red{
  color: red;
}
.fr{
  float: right;
}
.center{
  text-align: center;
}
.les{
  font-weight: bold;
}
.les::first-letter{
  margin-left: 15px;
}
.psalm{
  margin-left: 25px;
  position: relative;
}
.num{
  position: absolute;
  left: -25px;
}
.aleluja{
  margin-left: 107px;
}
.post{
  margin-left: 24px;
}
hr{
  color: red;
}
.head-enter-active, .head-leave-active {
  transition: opacity .5s;
}
.head-enter, .head-leave-to {
  opacity: 0;
}
.menu-enter-active, .menu-leave-active {
  transition: all 1s ease;
  
}
.menu-enter, .menu-leave-to {
  opacity: 0;
}
.menu-enter-active>.menuBar, .menu-leave-active>.menuBar {
  transition: all 1s ease;
  
}
.menu-enter>.menuBar, .menu-leave-to>.menuBar{
  transform: translateX(-100%);
}

