*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  background-color: white;
  font-family: serif;
  font-weight: 700;
  font-size: 21px;
}
.page_sk, .page_cz{
  width: 100%;
  min-height: 100vh;
}
.day{
  display: none;
}
menu{
  position: fixed;
  left: calc(50% - 161px);
  width: 322px;
  height: 60px;
  background-image: url("./image/menu.svg");
  background-repeat: no-repeat;
  bottom: 5px;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
input{
  display: none;
}
.start{
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("./image/logo.svg");
  background-color: #eee;
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
  border-radius: 50%; 
  top: -22px;
  left: calc(50% - 32px);
  cursor: pointer;
}

#bttn{
  position: absolute;
  right: 20px;
  top: 15px;
  background-color: white;
  background-image: url("./image/sort-down-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
}

#box:checked ~ menu{
  padding: 46px 0 0 0;
  height: 140px;
  display: block
}
.setting{
  position:absolute;
  border-radius: 30px;
  width: 100%;
  height: 140px;
  background-color: #eee;
  z-index: 2;
  padding-top: 30px;
}
.lang, .font, .info{
  width: 250px;
  height: 20px;
  background-repeat: no-repeat;
  margin-left: 20px;
  padding-left: 40px;
}
.info{
  cursor: pointer;
}
#lang, #plus, #def, #minus{
  float: right;
  width: 26px;
  height: 26px;
  font-size: 16px;
  line-height: 25px;
  border: 1px solid grey;
  box-shadow: 0 0 3px grey;
  border-radius: 50%;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  margin: 0 5px ;
}
.lang{
  background-image: url("image/language-solid.svg");
}
.font{
  background-image: url("image/font-solid.svg");
}

.info{
  background-image: url("image/circle-info-solid.svg");
}
.info>label{
  cursor: pointer;
}
.infoSk{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba( 0, 0, 0, .8);
  color: aliceblue;
  z-index: 3;
  text-align: center;
  transform: translateY(-100vh);
  transition: .5s ease;
}
.infoSk>label{
  position: absolute;
  right: 18px;
  top: 18px;
  width: 36px;
  height: 36px;
  background-image: url("image/circle-xmark-regular.svg");
  cursor: pointer;
}
.infoSk>h2{
  color: #e0bc00;
}
.infoSk>.version{
  position: absolute;
  bottom: 50px;
  left: 48%;
}
#box:checked ~ menu>.btn{ 
  display: none;
 
}
#box:not(:checked) ~ menu>.setting{ 
  display: none;
}
.btn{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-color: white;
  box-shadow: inset 0 0 2px 0 black;
  cursor: pointer;
}

.btn1{
  background-image: url("./image/sunrise-icon.svg");
  background-size: 60%;
}
.btn2{
  background-image: url("./image/sun-warm-icon.svg");
  background-size: 60%;
}
.btn3{
  background-image: url("./image/m-solid.svg");
  
}
.btn4{
  background-image: url("./image/moon-solid.svg");
  background-size: 60%;
}

#btn1:checked ~ .page_sk>#rm_sk{
  display: block;
}
#btn2:checked ~ .page_sk>#mp_sk{
  display: block;
}
#btn3:checked ~ .page_sk>#mup_sk{
  display: block;
}
#btn1:checked ~ .page_cz>#rm_cz{
  display: block;
}
#btn2:checked ~ .page_cz>#mp_cz{
  display: block;
}
#btn3:checked ~ .page_cz>#mup_cz{
  display: block;
}

#btn4:checked ~ .page_sk{
  background-color: black;
  color: white;
}
#btn4:checked ~ .page_cz{
  background-color: black;
  color: white;
}
#btn4:checked ~ menu{
  color: black;
}
#btn4:checked ~ menu>.btn4{
  background-image: url("./image/sun-solid.svg");
  background-size: 60%;
}
#info:checked ~ .infoSk{
  transform: translateY(0);
  transition: .5 ease;
}

.red{
  color: red;
}
#index, #indexCz{ 
  margin: 10px 20px
}
#rm_sk,
#mp_sk,
#vm,
#mj,
#ma,
#os,
#mup_sk,
#rm_cz,
#mp_cz,
#mup_cz{
  display: none;
  min-height: 88vh;
  padding: 10px 10px 100px 10px;
}

#rm>div, #mj>div, #vm>div{
  display: none;
}

