*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #016fba;
  width: 100%;
  height: 100vh;
  user-select: none;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page{
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}
header{
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
}
.orden{
  position: relative;
  width: 80px;
  height: 50px;
  background-color: #222831;
  color: aliceblue;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  text-shadow: 2px 2px 1px black;
  transition: all .5s;  
}
.orden:active{
  transform: scale(.5);
}
.active:before{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 80px;
  height: 4px;
  background-color:whitesmoke;
  border-radius: 5px;
}
.region{
  background-color: blue;
  font-size: 28px;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  color: aliceblue;
  margin: 5px 0;
}
.region>span{
  position: absolute;
  right: 8px;
  color: white;
  font-size: 45px;
  line-height: 50px;
  transition: all .5s ease;
  
}
.region>span:nth-child(2){
  transform: rotate(90deg);
  transform-origin: 51% 61% ;
}
.loca{
  background-color: #aa1c1b;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 5px;
  cursor: auto;
}
.name{
  width: 150px;
}
.links{
  position: relative;
  top: -30px;
  right: -85px;
}
.links>div{
  width: 40px;
  height: 30px;
}
.links>div>a{
  cursor: pointer;
  margin-right: 10px;
  font-size: 30px;
  text-decoration: none;
}
.bxl-instagram{
  color: red;
}
.bxl-facebook-circle{
  color: #016fba;
}
.bx-link-alt{
  color: white;
  transform: rotate(45deg);
}