@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

*{
    margin: 0;
    padding: 0;
}
.loader{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(59, 55, 55);
    z-index: 2;
}
.loader>span{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color:rgb(6, 132, 216);
    animation: jump .5s linear alternate infinite;

}
.btns{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 30vw;
    height: 46px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    cursor: pointer;
}
.btn{
    width: 30%;
    border: 1px solid green;
    text-align: center;
    line-height: 45px;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    background-color: rgb(6, 132, 216);
    border: 1px solid white;
    
}
.btn:hover{
    background-color: rgb(6, 139, 228);
}
.map{
    width: 100%;
    height: calc(100vh - 4px);
    border: none;
}

@keyframes jump {
    0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
    100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
  }    