@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  font-family: "Lato", Arial, sans-serif;
}
.page{
  display: flex;
}
aside{
  width: 62px;
  height: 100vh;
  background-color: #444753;
  transition: all 0.8s ease;
  overflow: hidden;
}
input{
  display: none;
}
.lb{
  cursor: pointer;
  width: 50px;
  height: 60px;
}
.lb>div{
  width: 60px;
  height: 50px;
  position: absolute;
}
.lb>div>span{
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background-color:white;
  transition: 0.5s;
}
span:nth-child(2) {
  transform: translateY(8px);
}
span:nth-child(3) {
  transform: translateY(16px);
}
#box:checked ~ aside{
  width: 375px;
  transition: all 1s;
  overflow: hidden;
}
#box:checked ~ article{
  width: calc(100vw - 375px)
}
#box:checked ~ aside>.lb>div>span{
  background-color: tomato;
}
#box:checked ~ aside>.lb>div>span:nth-child(1){
  transform: translateY(8px) rotate(-45deg);
}
#box:checked ~ aside>.lb>div>span:nth-child(2){
  transition: all .1s;
  visibility: hidden;
}
#box:checked ~ aside>.lb>div>span:nth-child(3){
  transform: translateY(8px) rotate(45deg);
}

#btn1:checked ~ article>#rm{
  display: block;
}
#btn2:checked ~ article>#rr{
  display: block;
}
#btn3:checked ~ article>#mp{
  display: block;
}
#btn4:checked ~ article>#mj{
  display: block;
}
#btn5:checked ~ article>#vm{
  display: block;
}
#btn6:checked ~ article>#os{
  display: block;
}
#btn7:checked ~ article>#ma{
  display: block;
}

#btn1:checked ~ aside>.list>.img0{
  background-color: rgb(46, 194, 46);
}
#btn2:checked ~ aside>.list>.img1{
  background-color: rgb(46, 194, 46);
}
#btn3:checked ~ aside>.list>.img2{
  background-color: rgb(46, 194, 46);
}
#btn4:checked ~ aside>.list>.img3{
  background-color: rgb(46, 194, 46);
}
#btn5:checked ~ aside>.list>.img4{
  background-color: rgb(46, 194, 46);
}
#btn6:checked ~ aside>.list>.img5{
  background-color: rgb(46, 194, 46);
}
#btn7:checked ~ aside>.list>.img6{
  background-color: rgb(46, 194, 46);
}


article{
  width: calc(100vw - 62px);
   height: 100vh;
   overflow: scroll;
   margin-left: 10px;
}
.head{
  margin: 11px 0 30px 62px;
  font-size: 24px;
  color: aliceblue;
}
.list{
  width: 350px;
  display: flex;
  text-decoration: none;
  overflow: hidden;
  font-size: 20px;
  line-height: 60px;
  color: aliceblue;
}
.img{
  margin: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 3px solid gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  background-color: #ccc;
  transition: all 1s;
}
.name{
  cursor: pointer;
  width: 280px;
}
.red{
  color: red;
}

.img0{
  background-image: url("../image/0.svg");
}
.img1{
  background-image: url("../image/1.svg");
}
.img2{
  background-image: url("../image/2.svg");
}
.img3{
  background-image: url("../image/3.svg");
}
.img4{
  background-image: url("../image/4.svg");
}
.img5{
  background-image: url("../image/5.svg");
}
.img6{
  background-image: url("../image/6.svg");
}

#rm,
#rr,
#mp,
#vm,
#mj,
#ma,
#os {
  display: none;
  min-height: 100vh;
}


#rm>div, #mj>div, #vm>div{
  display: none;
}

