*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #c1c1c1;
}
a, li{
  list-style: none;
  text-decoration: none;
}
#app{
  display: flex;
}

/*-Menu-*/
menu{
  position: fixed;
  left: 0;
  top: 0;
  width: 15vw;
  height: 100vh;
  background-color: #292929;
  overflow-y: scroll;
}
menu ul{
  color: white;
  text-align: center;
  font-family: 'Abril Fatface';
  font-weight: 400;
  font-size: 1.5vw;
}
menu li:hover{
  background-color: #ff6b22;
}
menu li a{
  color: #949393;
}
menu li a:hover{
  color: white;
  font-size: 2vw;

}

.fa-bars{
  position: fixed;
  padding: .5vw;
  cursor: pointer;
  color: #292929;
}
.fa-bars:hover{
  color: #ff6b22;
}
.menu-enter-active, .menu-leave-active {
  transition: all 2s ease;
}
.menu-enter, .menu-leave-to{
  left: -15vw;
}


/*-Page-*/

aside{
  background-color: white;
  width: 100vw;
  height: 500vh;
}
