<!DOCTYPE html>
<html lang="sk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.GIF" type="image/x-icon">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css">
  <link rel="stylesheet" href="css/art.css">
  <title>Kotva-minimarket</title>
</head>
<body>
  <div class="bg"></div>
  <div class="page">
    <header>
      <div class="logo">
        KO<span class="anchor"></span>
        <span class="txt">VA</span>
        <div class="mini">Mini <span>MARKET</span></div> 
      </div>
      <div class="btns">
        <i class="btn" v-for="(name, i) in names" :class="[name.cls, {act : cur == i}]" @click="clr(i)"></i>          
        <a class="btn" :href="fb" target="_blank"><i class="fab fa-facebook-f"></i></a>
      </div>
    </header>
    <aside v-if="show">
      <div class="card" v-for="(i, war) in wares">
        <div class="front">lala</div>
        <div class="wares" :style="{backgroundImage: 'url('+('./img/'+i.war+'')+')'}"></div>
      </div>
    </aside>
    <div class="map" v-else>
      <iframe src="https://www.google.com/maps/d/embed?mid=1EZc9C9dg8Vw-lHtvQpj_ElTb5KAaFytq"></iframe>
    </div>
    <div class="phone">
      <i class="fas fa-phone-alt"></i> {{phone}}
    </div>
  </div>
  <script src="js/vue.min.js"></script>
  <script src="js/art.js"></script>
</body>
</html>